*{ box-sizing: border-box;}
body{
  font-family: 'Nunito',sans-serif;
  /* color: #384047; */
  /* color: #383838; */
  /* color: #d50e0e; */
}
form{
  /* max-width: 300px; */
  margin: 10px auto;
  padding: 10px 20px 70px 30px;
  /* background: #f4f7f8; */
  /* background: #bceaf6; */
  background: #8ddaf0;
  border-radius: 8px;
}

h1{
  text-align: center;
}


input[type="text"],
input[type="number"],
select{
  /* background: rgba(255,255,255,0.1); */
  /* background: rgba(254,55,25,0.1); */
  border: none;
  font-size: 15px;
  /* padding: 10px; */
  padding: 6px;
  height: auto;
  margin: 0;
  outline: 0;
  width: 100%;
  /* background-color: #e8eeef; */
  background-color: #ffffff;
   /*original */
  /* color: #8a97a0;  */
  color:#200303 ;
  /* box-shadow: 0 1px 0 rgb(0,0,0,0.3) inset; */
  margin-bottom: 15px;
}

label{
  font-size: 17px;
}


input:focus {
  box-shadow: 0 0 5px rgba(81,203,238,1);
  border: 1px solid rgba(66, 226, 27, 1);
}

/* select  */
select{
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
/* select  */

button{
  padding: 15px 39px 15px 39px;
  color: #FFF;
  /* background-color: #4bc970; */
  background-color: #35be5e;

  font-size: 18px;
  text-align: center;
  font-style: norml;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}


legend{
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  /* margin-bottom: 116px; */
  border: 0;
}


.section{
  /* background-color: #5fcf80; */
  background-color: #35be5e;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

tbody input[type="number"]{
    margin-bottom: 10px;
}

@media screen and (max-width: 480px){
  table tr{
    margin-bottom: 20px;
    display: block;

  }
  table td{
    display: block;
    text-align: right;
    font-size: 16px;
    margin-bottom:  10px;
  }

  table td::before{
    content: attr(data-label);
    float: left;
    font-weight: 600;
    padding-bottom: 20px;
  }
  table thead{
    display: none;
  }
  tbody input[type="number"]{
    width:150px;
  }

}
